
#container {
     display: flex;
     margin: 100px 0px 0px 10px;
     border-radius: 20px;
}

div {
     width: 60px;
     height: 60px;
     /* background-color: aquamarine */
}

.gridRow, .gridCol {
     border: 1px solid black;
}

.gridRow {
     display: flex;
}


body {
     display: flex;
     gap: 600px;
     background-color: whitesmoke;
}



#container {
     align-self: flex-start;
     margin-left: 600px;
     justify-content: center;
     
}

button {
     font-size: 30px;
     border-radius: 2em;
     padding: 25px;
     align-self: flex-start;
     justify-content: center;
}

.buttons {
     margin-top: 250px;;
     display: flex;
     flex-direction: column;
/* background-color: orange; */
     gap: 45px;
}

